<!-- BBCode Help File -->

<h2>BBCode</h2>

BBCode allows the creation of high quality HTML code with minimal effort. 

<h3>Paragraphs</h3>

<p>Pragraphs are the easiest thing to create - just leave a blank line.</p>

<table summary="BBCode" class="bbcode">
<thead>
<tr>
<th>BBCode</th>
<th>Result</th>
</tr>
</thead>
<tbody>
<tr>
<td>
		<code>
					Some text in a paragraph.<br /><br />
					Some text in another paragraph.<br /><br />
					Some text in a third paragraph.
				
     </code>  
</td>
<td>
		 <p>Some text in a paragraph.</p>
		  <p>Some text in another paragraph.</p>
			 <p>Some text in a third paragraph.</p>
				
</td>
</tr>
</table>  

<h3>Sub-Headings</h3>
<p>Main headings are created by the Content Management system. To create a sub-heading heading, surround the heading with [h2] and [/h2]</p>

<table summary="BBCode" class="bbcode">
<thead>
<tr>
<th>BBCode</th>
<th>Result</th>
</tr>
</thead>
<tbody>
<tr>
<td>
		<code>
					Some text in a paragraph.<br /><br />
					
					[h2]The sub-heading[/h2]<br /><br />
			More text in a paragraph.
      </code>  
</td>
<td>
		 <p>Some text in a paragraph.</p>
					
					<h2>The sub-heading</h2>
			<p>More text in a paragraph.</p>
</td>
</tr>
</table>  

<p>To create a sub-sub-heading heading, surround the heading with [h3] and [/h3]</p>

<table summary="BBCode" class="bbcode">
<thead>
<tr>
<th>BBCode</th>
<th>Result</th>
</tr>
</thead>
<tbody>
<tr>
<td>
		<code>
					Some text in a paragraph.<br /><br />
					
					[h3]The sub-heading[/h3]<br /><br />
			More text in a paragraph.
     </code>  
</td>
<td>
		 <p>Some text in a paragraph.</p>
					
					<h3>The Sub-sub-heading</h3>
			<p>More text in a paragraph.</p>
</td>
</tr>
</table>

<h3>Lists</h3>
<p>Place [ulist] on the line before the first list item. Place [/ulist] on the line after each item. Add [*] to the
beginning of each item.</p>

<table summary="BBCode" class="bbcode">
<thead>
<tr>
<th>BBCode</th>
<th>Result</th>
</tr>
</thead>
<tbody>
<tr>
<td>
		<code>
		Previous paragraph.<br/><br />
		[ulist]<br />
			[*]First item<br />
			[*]second item<br />				
      [/ulist]<br /><br />	
			
						 Following paragraph.

			</code>  
</td>
<td>
				<p>Previous paragraph.</p>

		<ul>
				<li>First item</li>
			 <li>second item</li>				
      </ul>
						<p>Following paragraph.</p>

</td>
</tr>
</table>  

<p>For a numbered list, use [list] and [/list]</p>

<table summary="BBCode" class="bbcode">

<thead>
<tr>
<th>BBCode</th>
<th>Result</th>
</tr>
</thead>
<tbody>
<tr>
<td>
		<code>
		
		  Previous paragraph.<br/><br />
		
		  [list]<br />
			[*]First item<br />
			[*]second item<br />				
      [/list]<br/><br />
			
			 Following paragraph.
			
			
			</code>  
</td>
<td>

		<p>Previous paragraph.</p>
		<ol>
				<li>First item</li>
			 <li>second item</li>				
      </ol>
			<p>Following paragraph.</p>
			
</td>
</tr>
</table>  



<h3>Website Addresses</h3>
<p>If a full website address is entered (i.e., beginning with "www." or "http://"), it is converted automatically:</p>

<table summary="BBCode" class="bbcode">
<thead>
<tr>
<th>BBCode</th>
<th>Result</th>
</tr>
</thead>
<tbody>
<tr>
<td>
		<code>Visit www.brainboxweb.co.uk for more details.</code>  
</td>
<td>
		Visit <a href="http://www.brainboxweb.co.uk/">www.brainboxweb.co.uk</a> for more details.
</td>
</tr>
<tr>
<td>
		<code>Visit http://brainboxweb.co.uk for more details.</code>  
</td>
<td>
		Visit <a href="http://brainboxweb.co.uk/">http://brainboxweb.co.uk</a> for more details.
</td>
</tr>
</table> 

<p>For more control of the presentation, use [url=] and [/url]:</p>

<table summary="BBCode" class="bbcode">
<thead>
<tr>
<th>BBCode</th>
<th>Result</th>
</tr>
</thead>
<tbody>
<tr>
<td>
		<code>
				Visit the	[url=www.brainboxweb.co.uk]BRAINBOX website[/url] for full details.
		
		</code>  
</td>
<td>
		Visit the <a href="http://www.brainboxweb.co.uk/">BRAINBOX website</a> for full details.
</td>
</tr>
</table> 

<p>To create a link to a page within the website:</p>

<table summary="BBCode" class="bbcode">
<thead>
<tr>
<th>BBCode</th>
<th>Result</th>
</tr>
</thead>
<tbody>
<tr>
<td>
		<code>
				For more information, please [url=/contact]contact us[/url].
		
		</code>  
</td>
<td>
		For more information, please <a href="/contact">contact us</a>.
</td>
</tr>
</table> 



<h3>Email Addresses</h3>
<p>Email addresses are converted automatically. However, it is strongly recommended that email addresses are not displayed on the website: they
are an easy target for spammers.</p>


<table summary="BBCode" class="bbcode">
<thead>
<tr>
<th>BBCode</th>
<th>Result</th>
</tr>
</thead>
<tbody>
<tr>
<td>
		<code>
				gary.straughan@brainboxweb.co.uk
		
		</code>  
</td>
<td>
		<a href="mailto:gary.straughan@brainboxweb.co.uk">gary.straughan@brainboxweb.co.uk</a>
</td>
</tr>
</table> 



